body {
  margin: 0;
  display: flex;
  flex-direction: row;

}

.app {
  display: flex;
  flex-direction: row;
  margin: 5em;
}

.editor {
  margin-right: 10em;
  display: inline-block;
}
.content{
  display: inline-block;
}

.ck-editor__editable_inline {
  min-height: 500px;
}
